# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment directory
venv/
env/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables and configuration files
.env
*.config

# Ignore compiled files and folders
*.o
*.so
*.out
